<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="public/styles/style.css" />
</head>
<body>
  <header>
    <h1>My Blog Application</h1>
  </header>
  <hr />

    