<%- include('partials/header.ejs') %>

 <div class="container">
    <h1>Contact Us</h1>
    <form action="/contact" method="POST" class="contact-form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <button type="submit">Send Message</button>
    </form>
  </div>

<%- include('partials/footer.ejs') %>