<%- include('partials/header.ejs') %>

<div class="container">
    <div class="result-container">
        <h1 class="page-title"><%= message %></h1>
        <a href="/" class="btn">Back to Home</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>
